<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <title>Book List</title>
    <div class="main-content">
        {{>header}}
        <p>Use this site to get your book lists!</p>
        <button id ="List-Button">List Books</button>
        <ul id="all-books">
        </ul>
    </div>

    {{>footer}}

    <script src="/js/app.js" ></script>
</body>
</html>